<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.yingchuang.dao.Information.InformationMapper">

    <resultMap id="informationMap" type="Information">
        <id property="id" column="id"/>
    </resultMap>
    <!--添加一条-->
    <insert id="addInformation" parameterType="Information" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO information VALUE(NULL,#{playerName},#{sex},#{phoneNumber},#{Email},
          #{idNumber},#{sick},#{dangerName},#{dangerPhone},NOW(),#{payStatus})
    </insert>

    <!--修改-->
    <update id="updateInformationById" parameterType="integer">
        UPDATE information
        SET playerName=#{playerName},
        sex=#{sex},
        phoneNumber=#{phoneNumber},
        Email=#{Email},
        idNumber=#{idNumber},
        sick=#{sick},
        dangerName=#{dangerName},
        dangerPhone=#{dangerPhone},
        payStatus=#{payStatus}
        WHERE id=#{id}
    </update>

    <!--查询一条by身份证号-->
    <select id="queryInformationByIdNumber" parameterType="string" resultMap="informationMap">
        SELECT * FROM information WHERE idNumber=#{idNumber}
    </select>

    <!--查询多条-->
    <select id="queryAllInformation" resultMap="informationMap">
        SELECT * FROM information ORDER BY id DESC
    </select>

    <!--按id查身份证号-->
    <select id="queryIdNumbersById" parameterType="integer" resultType="string">
        select idNumber from information where id=#{id}
    </select>
</mapper>