<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.yingchuang.dao.Race.RaceMapper">

    <!--返回的resultMap-->
    <resultMap id="raceMap" type="Race">
        <id property="id" column="id"/>
        <result property="raceName" column="raceName"/>
        <result property="raceUrl" column="raceUrl"/>
    </resultMap>
    <!--添加一条-->
    <insert id="addRace" parameterType="Race" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO race VALUE(NULL,#{raceName},#{time},#{price},#{raceUrl})
    </insert>

    <!--查询一条-->
    <select id="queryRaceById" parameterType="integer" resultMap="raceMap">
        SELECT * FROM race WHERE id=#{id}
    </select>

    <!--查询所有的赛事信息的名字 raceName  按照比赛的时间倒序-->
    <select id="queryAllRaceName" resultMap="raceMap">
        SELECT raceName  FROM race ORDER BY TIME DESC
    </select>

    <!--按id赛事文档地址-->
    <select id="queryUrlById" parameterType="integer" resultType="string">
        select raceUrl from race where id=#{id}
    </select>
    <!--修改赛事信息-->
    <update id="updateRace" parameterType="Race">
        update race set raceName=#{raceName},time=#{time},price=#{price},raceUrl=#{raceUrl} where id=#{id}
    </update>
    <!--删除赛事信息-->
    <delete id="deleteRace" parameterType="integer">
        delete from race where id=#{id}
    </delete>

    <select id="queryAllRace" resultMap="raceMap">
        select id,raceName,time,price FROM race
    </select>
</mapper>