<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.yingchuang.dao.news.NewsMapper">
    <resultMap id="NewsMap" type="News">
        <id property="newid" column="id"/>
        <result property="title" column="title"/>
        <result property="createDate" column="createDate"/>
        <result property="newsContent" column="newsContent"/>
        <result property="introduce" column="introduce"/>
        <association property="tmenu" javaType="Tmenu" resultMap="TmenuMap"/>
    </resultMap>
    <resultMap id="TmenuMap" type="Tmenu">
        <id column="t_id" property="id"></id>
        <result property="menuName" column="menuName"/>
        <result property="menuUrl" column="menuUrl"/>
        <result property="parentId" column="parentId"/>
    </resultMap>
    <!--按照id查一条-->
    <select id="queryNewsById" resultMap="NewsMap" parameterType="integer">
        SELECT * from news where id=#{id}
    </select>
    <!--按照tmenuId查一组-->
    <select id="queryNews" resultMap="NewsMap" parameterType="integer">
        SELECT * FROM news n,tmenu t where t.id=n.tmenuId and tmenuId=#{tmenuId};
    </select>
    <!--添加news-->
    <insert id="addNews" parameterType="News">
        INSERT INTO news VALUES(NULL,#{title},#{newsContent},NOW(),#{tmenu.id},#{introduce})
    </insert>
    <!--修改tmenuId修改-->
    <update id="updateNews" parameterType="News">
        UPDATE news SET title=#{title},newsContent=#{newsContent},introduce=#{introduce} WHERE tmenuId=#{tmenu.id}
    </update>
    <!--查询一条-->
    <select id="queryNewsByTmenuId" parameterType="integer" resultMap="NewsMap">
        SELECT s.*,t.`id` t_id,t.`menuName` FROM news s,tmenu t WHERE t.`id`=s.`tmenuId` AND tmenuId=#{tmenuId}
    </select>
</mapper>