<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.yingchuang.dao.Managers.ManagersMapper">

    <!--添加一条-->
    <insert id="addManagers" parameterType="Managers">
        INSERT INTO managers VALUE(NULL,#{adminName},#{password},#{power},1)
    </insert>

    <!--查询一条for管理权限-->
    <select id="queryManagersById" parameterType="integer" resultType="Managers">
        SELECT * FROM managers WHERE id=#{id}
    </select>

    <!--登录-->
    <select id="loginManagers" parameterType="Managers" resultType="Managers">
        SELECT * FROM managers WHERE
        adminName=#{adminName}
        AND
        password=#{password}
    </select>

    <!--修改-->
    <update id="updateManagersById" parameterType="integer">
        UPDATE managers SET power=#{power},status=#{status}
        WHERE id=#{id}
    </update>

</mapper>